body {
    font-family: sans-serif;
}

header {
    text-align: center;
    padding: 10px;
    border: 6px darkblue rgb(28, 30, 175);
}

header {
    background-color: royalblue;
    border-radius: 5px:
    padding: 5px
    text-decoration: none;
    color: white;
}
nav {
    padding: 15px;
    background-color: rgb(28, 30, 175);
}

nav a{
    margin: 20px;
    color: white;
    font-size:  15px;
    font-weight: bold;

}

main hl {
    text-align: center;
    color: rgb(28, 30, 175)
}

footer {
    padding: 20px;
    background-color: rgb(28, 30, 175)
}

footer p {
    padding: 3px;
    background-color: white;
}
